*{
    box-sizing: border-box; /* gør at border og padding æder sig ind på elementet som på den måde bliver inden for de f.eks. fastsatte 100% */
}

html, body, figure{/* hvis du gør dette på * skal resette den på dine p-tags eksempelvis  */
    margin: 0;
    padding: 0;
}

h1{
    font-family: var(--font-family);
    font-size: 3vw;
    font-weight: 900;
    margin-top: 50px;
    margin-left: var(--margin-left);
}



#destination-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

li{
    list-style: none;
}

a{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    width: 24vw;
    align-items: center;
    font-family: var(--font-family);
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }

.image-text{
    display: flex;
    align-items: center;
    gap: 7vw;
    background-color: #E31C5F;
    /* border-radius: 5%; */
    margin: 3px 0 20px;
    width: 180px
}

img{
    max-width: 100%; 
    aspect-ratio: 1/1;
    max-height: 25vh;
    border-radius: 5%;
}

p{
    color: black;
    text-transform: uppercase;
}
.fa-heart{
color: black
}

