*{
    box-sizing: border-box; /* gør at border og padding æder sig ind på elementet som på den måde bliver inden for de f.eks. fastsatte 100% */
}

html, body, figure{/* hvis du gør dette på * skal resette den på dine p-tags eksempelvis  */
    margin: 0;
    padding: 0;
}

.destinationCard{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 90vw;
    font-family: var(--font-family);
}


figure{
    position: relative;
    width: 50vw
}

.heart{
    position: absolute;
    top: 8px;
    right: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
}

img{
    max-width: 100%;
    height: auto;
    border-radius: 5%;
    margin: 0 auto;
    display: block;
}

.cardText{
    font-family: var(--font-family);
    width: 50vw;
}

h2{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
}

h3{
    font-size: 25px;
    font-weight: 100; 
    text-align: center;
}

h4{
    font-size: 15px;
    font-weight: 100; 
    text-align: center;
}

.facility-text{
    margin: var(--margin-left)
}

h5{
    font-size: 15px;
    font-weight: 100;
}

h6{
    font-size: 15px;
    font-weight: 100;
}