*{
    box-sizing: border-box; /* gør at border og padding æder sig ind på elementet som på den måde bliver inden for de f.eks. fastsatte 100% */
}

html, body, figure{/* hvis du gør dette på * skal resette den på dine p-tags eksempelvis  */
    margin: 0;
    padding: 0;
}

.destinationCard{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100vw;
    font-family: var(--font-family);
}


figure{
    position: relative;
    width: 50vw
}

.heart{
    position: absolute;
    top: 8px;
    right: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
}

img{
    width: 712px;
    height: 832px;

    border-radius: 5%;
  
}

.cardText{
    font-family: var(--font-family);
    text-align: center;
    width: 50vw;
}

h2{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 100;
}

h3{
    font-size: 25px;
    font-weight: 100; 
}

h4{
    font-size: 15px;
    font-weight: 100; 
}

h5{
    font-size: 15px;
    font-weight: 100;
}